torch
sentence-transformers
qdrant-client
python-dotenv
openai
fastapi
uvicorn[standard]
streamlit
elasticsearch==8.13.1  # to be compatible with elasticsearch 8.7.0 inside Makefile
# https://pypi.org/project/loguru/
loguru
fastmcp
json-repair
docling
pydantic
requests
